@tailwind base;
@tailwind components;
@tailwind utilities;

.ripple {
	position: relative;
	overflow: hidden;
	background-color: #009688;
	color: #fff;
	border: none;
	padding: 12px 24px;
	font-size: 16px;
	cursor: pointer;
}

.ripple:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.7);
	opacity: 0;
}

.ripple:focus:after,
.ripple:active:after {
	width: 200%;
	height: 200%;
	opacity: 1;
	transition: all 0.5s ease-out;
}
